
* {
    font-family: "Roboto", sans-serif;
}

a{
    color: inherit;
}
#title{
    margin-top : 1em;
    display: flex;
    justify-content: center;
}
#title img {
    cursor: pointer;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top:1px solid #ebebeb;
    border-bottom: 4px double #000;
    padding: 10px;
}
.menus button {
    border : none;
    background : none;
    margin : 5px;
    transition: 0.2s;
    color: black;
}

.menus button:hover {
    background-color: #404042;
    border-radius: 4px;
    color:white;
}

.newsImage {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 1.5px solid #000;
    padding-bottom: 10px;
    margin-top: 20px;
}

#menuIcon {
    position:absolute;
    left : 15px;
    display: none;
    font-size: 25px;
    margin-top: 6px;
}

#searchIcon{
    position:absolute;
    left: 40px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 25px;
}

/*768*/
@media screen and (max-width: 768px){
	.menus {
	  display: none;
	  flex-direction : column;
	  align-items: flex-start;
	  width: 100%;
      border: none;
	}
	#menuIcon {
	  display: block;
	}	
	.menus.active{
		display: flex;
	}
    #title{
        border-bottom: 2px solid rgb(230, 228, 228);
        padding-bottom: 15px;
    }
    #title img{
        width:180px;
    }
    #menuIcon{
        margin-top : 13px;
    }
    #searchArea{
        /*display: none;*/
        position: absolute;
        right:80px;
        top:22px;
    }
    /*
    #searchInput{
        position:absolute;
        right: 95px;
    }
    */

    .searchBtn {
        right:40px;
    }
    .calendarArea {
        display: none;
    }
    .calendarArea-mobile{
        display: block;
    }
    #scrollTopBtn {
        font-size: 17px; 
        opacity: 0.3;
      }
      #searchTest {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #searchTest input {
        width: 50%;
      }
      #searchTest button{
        width : 20%;
      }
}


/*
#inputArea {
    position:absolute;
    left : 70px;
    display: none;
}
*/
/*
#searchInput {
    border-radius: 5px;
    border : 2px solid #404042;
    padding: 6px;
    margin-left: 5px;
}
*/

.searchBtn {
    position: absolute;
    margin-left: 5px;
}

#newsBoard p:hover {
    text-decoration: underline;
    cursor: pointer;
}
#newsBoard h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
#newsBoard img {
    cursor: pointer;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.highlight {
    color: orange;
}

.no-results {
    font-size : 30px;
    text-align: center;
    margin-top: 20px;
}

footer h3{
    font-weight: bold;
}

.pagination {
    margin-top : 20px;
    justify-content: center;
}
.pagination li {
    cursor: pointer;
}
.page-item .page-link {
    color: black;
}
.page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}

.calendarArea {
    position: absolute;
    right: 200px;
    top : 75px;
}

.calendarArea-mobile{
    display: none;
    justify-content: center;
    padding: 10px;
    z-index: 10;
}

#scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 99;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
}


#searchTest{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
#searchTest input {
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    outline: none;
    width: 60%;

}
#searchTest button {
    margin-left: 10px;
}